body {
  background-color: black;
}

.link {
  position: absolute;
  top: 50%;
  left: 50%;
  text-decoration: none;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
  padding: 0 1rem;
}

.link::before,
.link::after {
  content: "";
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  background-color: red;
  width: 0;
  height: 4px;
  border-radius: 2px;
  transition: width 0.5s;
}

.link::before {
  right: 100%;
}
.link::after {
  left: 100%;
}

.link:hover::before,
.link:hover::after {
  width: 50%;
}
