* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(images/banner.png);
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 7%;
}

.logo {
  width: 140px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links li {
  list-style: none;
  display: inline-block;
  margin: 10px 22px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.register-btn {
  border: 1px solid white;
  text-decoration: none;
  color: black;
  padding: 0.8rem 2rem;
  background-color: white;
  border-radius: 30px;
  font-size: 0.9rem;
}

.container {
  padding: 0 7%;
}

.container h1 {
  color: white;
  text-align: center;
  font-size: 3vw;
  padding-top: 28%;
}

.search-box {
  border: 1px solid white;
  background-color: white;
  border-radius: 30px;
  width: 70%;
  margin: 40px auto;
  padding: 6px 10px 6px 30px;
}

.search-box form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* gap: 2.5rem; */
  justify-content: space-between;
}

.search-box form input {
  display: block;
  border: 0;
  outline: none;
  background-color: transparent;
  margin-top: 6px;
}
.search-box form img {
  width: 15px;
}
.search-box form button {
  background-color: #ff5361;
  padding: 0.9rem;
  border-radius: 50%;
  margin-left: 1rem;
  height: 55px;
  width: 55px;
  cursor: pointer;
  border: 0;
  outline: none;
}

.search-box form label {
  font-weight: 600;
}

/* -----------Exclusives----------------- */

.container {
  margin-top: 3rem;
}
.container h2 {
  font-size: 2.3rem;
}

.exclusives {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.exclusives img {
  width: 100%;
  border-radius: 10px;
}

.exclusives div {
  position: relative;
}
.exclusives span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.exclusives h3 {
  font-size: 1.7rem;
  font-weight: 400;
}

/* ------------trending places---------- */
.trending-section {
  margin-top: 7%;
}
/* .trending {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}

.trending .trending-img-container {
  max-width: 300px;
}
.trending img {
  width: 100%;
  border-radius: 10px;
} */

.trending {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.trending div img {
  width: 100%;
  border-radius: 10px;
}

.trending p {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 1rem 0;
}

/* -----------------cta-section----------- */

.cta {
  margin: 80px 0;
  background-image: linear-gradient(to right, #3f2321b7, transparent),
    url(images/banner-2.png);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 10%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cta h3 {
  font-size: 3rem;
  color: #fff;
  margin-left: -7%;
  margin-top: -4%;
  font-weight: 400;
}
.cta p {
  color: #fff;
  font-size: 1.2rem;
  margin-left: -7%;
}

.orange-btn {
  width: max-content;
  text-decoration: none;
  color: white;
  font-weight: 600;
  border: 1px solid #fff;
  padding: 12px 34px;
  margin-top: 12px;
  font-size: 13px;
  margin-left: -7%;
  background: transparent;
  cursor: pointer;
  transition: 0.8s;
  border-radius: 5px;
}
.orange-btn:hover {
  background-color: #f44336;
  border: 1px solid white;
}

/* ---------------travellers-stories Section-------------- */

.stories-sec h3 {
  font-size: 2.3rem;
  font-weight: 400;
  padding: 1rem;
  margin: 1rem;
}
.travel-stories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}
.travel-stories img {
  width: 100%;
  border-radius: 10px;
}

.travel-stories div {
  position: relative;
}

.travel-stories span {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
}

.money-btn {
  text-decoration: none;
  background: #ff5361;
  color: #fff;
  width: 80%;
  max-width: 350px;
  display: block;
  text-align: center;
  margin: 3rem auto;
  padding: 15px;
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
}

.about-sec {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  text-align: center;
  gap: 2rem;
  margin: 80px auto;
}

.about-sec h3 {
  font-size: 1.7rem;
  font-weight: 500;
}

.about-sec p {
  font-size: 1.1rem;
  color: gray;
}

.footer-sec {
  max-width: 100%;
  margin: 60px auto;
  text-align: center;
}

.footer-sec .logos {
  margin: 2rem 0;
}
.footer-sec a {
  margin: 0 0.5rem;
  color: grey;
  font-size: 1.5rem;
}

.footer-sec p {
  margin-top: 2rem;
}

.header .orange-bar::after {
  content: " ";
  width: 0%;
  height: 3px;
  background-color: #ff5361;
  display: block;
  transition: 0.7s;
  margin-top: 0.4rem;
  border-radius: 50%;
}
.header .orange-bar:hover::after {
  width: 100%;
}

.header .fa-bars {
  display: none;
}

@media only screen and (max-width: 920px) {
  .nav-links {
    display: none;
  }

  nav {
    background-color: black;
    padding: 1.5rem;
  }
  .register-btn {
    display: none;
  }
  .header .fa-bars {
    display: contents;
    font-size: 1.7rem;
    color: white;
  }

  .container h1 {
    font-size: 2rem;
  }

  .search-box {
    width: 90%;
    margin: 30px auto;
    padding: 20px 10px 30px;
    border-radius: 5px;
    position: relative;
  }

  .search-box form {
    display: block;
  }

  .search-box form input {
    border-bottom: 1px solid #ddd;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .search-box form button {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-80%, 50%);
  }
}

/* ---------------page 2 ---------------------- */

.nav-bar {
  max-width: 100vw;
  background-color: black;
}
.nav-bar nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 7%;
}

.nav-bar .logo {
  width: 140px;
  cursor: pointer;
}

.nav-bar .nav-links {
  display: flex;
  gap: 1rem;
}

.nav-bar .nav-links li {
  list-style: none;
  display: inline-block;
  margin: 10px 22px;
}

.nav-bar .nav-links a {
  text-decoration: none;
  color: white;
}

.nav-bar .register-btn {
  border: 1px solid white;
  text-decoration: none;
  color: black;
  padding: 0.8rem 2rem;
  background-color: white;
  border-radius: 30px;
  font-size: 0.9rem;
}

.nav-bar .orange-bar::after {
  content: " ";
  width: 0%;
  height: 3px;
  background-color: #ff5361;
  display: block;
  transition: 0.7s;
  margin-top: 0.4rem;
  border-radius: 50%;
}
.nav-bar .orange-bar:hover::after {
  width: 100%;
}

.fa-bars {
  display: none;
}

@media only screen and (max-width: 920px) {
  .nav-bar .nav-links {
    display: none;
  }

  .register-btn {
    display: none;
  }
  .nav-bar .fa-bars {
    display: contents;
    font-size: 1.7rem;
    color: white;
  }
}

.hotel-options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.3rem;
  width: 80%;
  margin: 2rem auto;
}

.top-content {
  margin: 2rem 0;
}
.top-content h3 {
  font-size: 2.1rem;
  margin-top: 0.4rem;
}
.hotel-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}
.hotel-img {
  max-width: 300px;
}
.hotel-img img {
  width: 100%;
  border-radius: 10px;
}

.hotel-descripstion {
  margin-left: 1.2rem;
}

.hotel-descripstion .para1 {
  color: grey;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.hotel-descripstion .para2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.hotel-descripstion .para3 {
  color: grey;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.hotel-descripstion .para4 {
  color: grey;
  font-size: 1rem;
  margin-top: 1rem;
}
.hotel-descripstion .para5 {
  font-weight: 600;
  margin-top: 0.3rem;
}

.right-filters {
  height: max-content;
  width: 350px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem;
  margin: 3rem auto;
  text-align: left;
}

.right-filters h3 {
  font-size: 1.4rem;
  font-weight: 700;
  align-self: flex-start;
}

.upper-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.upper-div h4 {
  margin: 1rem 0;
  font-size: 1.1rem;
  font-weight: 700;
}

.upper-div div {
  display: flex;
  justify-content: space-between;
}

.upper-div div label {
  margin-left: 1rem;
}

.lower-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.lower-div h4 {
  margin: 1rem 0;
  font-size: 1.1rem;
  font-weight: 700;
}

.lower-div div {
  display: flex;
  justify-content: space-between;
}

.lower-div div label {
  margin-left: 1rem;
}

.pagination {
  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.4rem;
  margin-bottom: 5rem;
}

.pagination .arrow-img {
  transform: rotate(180deg);
}
.pagination span {
  max-width: max-content;
  min-height: max-content;
}
.span1 {
  border: 1px solid black;
  background-color: black;
  color: #fff;
  border-radius: 50%;
  padding: 10px 15px;
}

.logos a {
  margin: 0 1rem;
  font-size: 1.8rem;
}

.footer-para {
  font-size: 1.2rem;
  font-weight: 400;
}

/* ---------------page3----------- */

/* 
.house-container {
  max-width: 80%;
  margin: 3rem auto;
}

.house-information h3 {
  font-size: 2.3rem;
}

.rat-rev-loc {
  display: flex;
  gap: 1.3rem;
  font-size: 1.2rem;
  margin: 2rem 0;
}

.gallery {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "first first . ." "first first . .";
}
.gallery div img {
  width: 100%;
  display: block;
  border-radius: 10px;
}
.gallery-img-1 {
  grid-area: first;
} */

.house-details {
  padding: 0 12%;
}
.house-title {
  margin-top: 50px;
}
.house-details h1 {
  font-weight: 600;
}

.house-title .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 0;
  font-size: 1.1rem;
}
.house-title span {
  margin: 0 14px;
}

.gallery {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "first first . ." "first first . .";
  margin-top: 2rem;
}
.gallery div img {
  width: 100%;
  display: block;
  border-radius: 10px;
}
.gallery-img-1 {
  grid-area: first;
}

@media screen and (max-width: 700px) {
  .gallery {
    grid-template-areas: "first first" ". ." ". .";
  }
}
.house-desc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.house-desc p {
  font-size: 2rem;
  font-weight: 600;
}

.house-desc span {
  font-size: 1.3rem;
  font-weight: 400;
}
.house-desc .para {
  align-self: flex-end;
}

.house-inout {
  width: 100%;
  border: 1px solid black;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.676);
  border-radius: 10px;
}
.house-inout form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem 2rem;
}

.house-inout form input {
  display: block;
  border: 0;
  outline: none;
  background-color: transparent;
  margin-top: 6px;
}
.house-inout form .labels {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  align-items: center;
  gap: 2rem;
}
.house-inout a {
  text-decoration: none;
  color: white;
}

.check-btn {
  background-color: black;
  border-radius: 10px;
  padding: 1rem 80px;
  font-size: 1.3rem;
  cursor: pointer;
}

@media screen and (max-width: 1150px) {
  .check-btn {
    margin-top: 1.5rem;
    font-size: 1rem;
    text-align: center;
  }
}

.house-info {
  margin-top: 2.4rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.house-info .info {
  display: flex;
  gap: 1.5rem;
}

.house-info .info .info-para {
  font-weight: 600;
  font-size: 1.2rem;
}
.house-info .info2 {
  margin-top: 10px;
  color: rgb(95, 90, 90);
}
.para-of-lorem {
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 700px;
}
.line {
  max-width: 900px;
}

.map {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.map iframe {
  margin-top: 1.5rem;
  width: 100%;
}

.map-para {
  font-weight: 700;
  margin: 1rem 0;
}
.Reviews {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem;
  gap: 1.2rem;
}

@media screen and (max-width: 500px) {
  .Reviews {
    flex-direction: column;
    align-items: center;
  }
  .Reviews .user-img {
    margin: 0 2.7rem;
  }
}
.user-img {
  align-self: flex-start;
  width: 70px;
}
.user-img img {
  width: 100%;
  border-radius: 50%;
}

.user-desc h3 {
  font-size: 1.3rem;
  margin: 0.8rem 0;
}

.Reviews .user-desc p {
  margin-top: 1rem;
  color: rgb(97, 93, 93);
}

.contact-btn {
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 12px 34px;
  margin-top: 3rem;
  font-size: 13px;
  position: relative;
  background: transparent;
  cursor: pointer;
  transition: 0.8s;
  border-radius: 5px;
}
/* 
.orange-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid #fff;
  padding: 12px 34px;
  margin-top: 12px;
  font-size: 13px;
  position: relative;
  background: transparent;
  cursor: pointer;
  transition: 0.8s;
} */
.contact-btn:hover {
  background-color: #f44336;
  color: white;
  border: 1px solid white;
}

.bar {
  display: none;
}
