
/* targeting a specific element */
p{
    color: blueviolet;
}

/* targeting ny a id */

#article1{
    background-color: aqua;
}

/* targeting a class  */
.paraclass{
    background-color: gold;
}

/* for multiple elements  */
.paraclass,article,h1{
    
    text-align: center;
}

#paraid{
    font-size: larger;
}