* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.items {
  display: flex;
  gap: 2rem;
  font-size: 3rem;
}
.items a {
  text-decoration: none;
  color: black;
}

.items .orange-btn::after {
  content: " ";
  width: 0%;
  height: 4px;
  background-color: #f44336;
  display: block;
  transition: 0.5s;
  border-radius: 50%;
}
.items .orange-btn:hover::after {
  width: 100%;
}
